    Options +FollowSymLinks
    IndexIgnore */*
    RewriteEngine On

    RewriteCond %{REQUEST_URI} !^/(web)
    RewriteRule ^assets/(.*)$ /web/public/$1 [L]
    RewriteRule ^css/(.*)$ web/public/css/$1 [L]
    RewriteRule ^js/(.*)$ web/public/js/$1 [L]
    RewriteRule ^images/(.*)$ web/public/img/$1 [L]
    RewriteRule (.*) /web/$1

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule . web/index.php